In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [3]:
sna=pd.read_csv("http://iali.in/datasets/Social_Network_Ads.csv")

In [4]:
sna.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
from sklearn import preprocessing
encode=preprocessing.LabelEncoder()
sna['Gender']=encode.fit_transform(sna['Gender'])
sna['Gender'].unique()

array([1, 0], dtype=int64)

In [6]:
sna.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [7]:
X=sna.iloc[:,:-1]
y=sna.iloc[:,-1:]

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2,test_size=0.8)

In [9]:
from sklearn.tree import DecisionTreeRegressor
model= DecisionTreeRegressor()
model.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [10]:
y_pred=model.predict(X_test)

In [11]:
accuracy=accuracy_score(y_pred,y_test)

In [12]:
print('Accuracy:{}'.format(accuracy))

Accuracy:0.846875

In [13]:
from sklearn.tree import export_graphviz
import pydot
tree = rf.estimators_[5]

# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = melbourne_features, rounded = True, precision = 1)

# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')

# Write graph to a png file
graph.write_png('tree.png')

NameError: name 'rf' is not defined

In [ ]:
pip install pydot

In [ ]:
pip install graphviz

In [ ]:
#visualize how our model looks;
import graphviz 
from sklearn import tree


dot_data = tree.export_graphviz(model, out_file=None, 
                     feature_names=['User ID','Gender','Age','EstimatedSalary'],  
                     class_names=['Purchased'],  
                     filled=True, rounded=True,  
                     special_characters=True)  
graph = graphviz.Source(dot_data)  
graph.render("tree",format="png")

In [ ]:
conda install python-graphviz

In [ ]:
#visualize how our model looks;
import graphviz 
from sklearn import tree


dot_data = tree.export_graphviz(model, out_file=None, 
                     feature_names=['User ID','Gender','Age','EstimatedSalary'],  
                     class_names=['Purchased'],  
                     filled=True, rounded=True,  
                     special_characters=True)  
graph = graphviz.Source(dot_data)  
graph.render("tree",format="png")

In [14]:
#visualize how our model looks;
import graphviz 
from sklearn import tree


dot_data = tree.export_graphviz(model, out_file=None, 
                     feature_names=['User ID','Gender','Age','EstimatedSalary'],  
                     class_names=['Purchased'],  
                     filled=True, rounded=True,  
                     special_characters=True)  
graph = graphviz.Source(dot_data)  
graph.render("tree",format="png")

'tree.png'